
:root{
    --header-height: 0rem;
    --font-semi: 600;
}

/* COLOR */
:root{
    --first-color: #4070F4;
    --secund-color: #0E2431;
    --title-projects: #2d96e8;
}

/* FONT BY EMPLACEMENTS */
:root{
    --body-font: 'Poppins', sans-serif;
    --big-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: 0.938rem;
}

@media screen and (min-width: 768px){
    :root{
        --big-font-size: 3.5rem;
        --h2-font-size: 2rem;
        --normal-font-size: 1rem;
    }
}

/* MARGES */
:root {
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
}

/* Z INDEX */
:root {
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
}

/* BASE */
*,::before,::after {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
}
body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--secund-color);
}
h1,h2,p {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* CLASS CSS */
.section-title{
    position: relative;
    font-size: var(--h2-font-size);
    color: var(--first-color);
    margin-top: var(--mb-2);
    margin-bottom: var(--mb-4);
    text-align: center;
}
.section-title::after {
    position: absolute;
    content: "";
    width: 64px;
    height: 0.18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
    background-color: var(--first-color);
}
.section{
    padding-top: 3rem;
    padding-bottom: 2rem;

}


/* projects custom */
.title-project {
    color: var(--title-projects);
}

.title-project::after {

}


/* NAVBAR CUSTOM */
.navbar {
    background: white !important;
}

.navbar .nav {
    margin: 0 auto;
}

/* NAVBAR BRAND CUSTOM */

.navbar-brand img {
    cursor: pointer;
    box-shadow: 5px 5px #bfbfbf;
}

.roundedImage{
    overflow: hidden;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    border-radius: 150px;
    width: 60px;
    height: 60px;
    transition: all .2s ease-in-out;
}

.roundedImage:hover {
    box-shadow: 10px 10px #828282;
    -webkit-transition: all .2s ease-in-out;
}


.nav-item:hover {
    overflow: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    width: -moz-max-content;
    transition: all .3s ease-in-out;
    background-color: rgba(0, 123, 255, 0.61);
    color: #0E2431;
    border-radius: 15px 0 0 200px;
}


/* MEDIAQUERIES */
@media only screen and (max-width: 320px){

}
