* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Newserader', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(75deg, deepskyblue, rgba(19, 85, 201, 0.87) 50%, blue, dodgerblue 50%);
}


body header {
    position: absolute;
    top: 25px;
    left: 15px;
}

.box {
    position: relative;
    object-fit: cover;
}

.box h2 {

 }