@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

:root {
    --bar-color-front : rgb(243, 0, 0);
    --bar-color-end : rgb(245, 104, 104);
    --title-div-span-color : rgb(243, 0, 0);
    --title-div-span-padding: 5px;
    --left-area-color: rgb(43, 44, 44);
    --bg-btn-color: rgba(43, 44, 44, .45);
    --print-area-header-color: rgba(0, 215, 215, .45);
    --left-area-bg-color: rgb(243, 0, 0);
    --left-area-title-color: rgb(243, 0, 0);
    --center-cropped-border-color: rgb(243, 0, 0) ;
    --center-cropped-box-shadow: rgba(243, 0, 0, 0.8);
    --left-area-contact-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
p {
    padding-bottom: 0.25rem;
}
a {
    text-decoration: none;
    color: var(--left-area-contact-color);
}


.print-area {
    width: 80%;
    margin: 20px auto;
}

.print-area .header {
    width: 100%;
    height: 150%;
    background-color: var(--left-area-color);
    display: flex;
    align-items: center;
    position: relative;
}

.header-text {
    color: rgb(243, 0, 0);
    width: 100%;
    margin-left: auto;
}

.header-text h1 {
    font-size: 80px;
    font-weight: normal;
}

.header-text p {
    font-size: 20px;
    padding-bottom: 20px;
    color: black;
    font-weight: bold;
    /*color: rgb(0, 215, 215);*/
}
.title-cv {
    color: black;
    font-size: 25rem;
}

.title-div {
    padding: var(--title-div-span-padding)
}
.title-div span i{
    color: var(--title-div-span-color);
}


.center-cropped img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    top: 10px;
    left: 10px;
    border: 5px solid var(--center-cropped-border-color);
    box-shadow: 3px 3px 10px var(--center-cropped-box-shadow);
    cursor: pointer;
    transition: .5s;
    user-select: none;
    background-position: center center;
}

/* Dans le site web uniquement */
.center-cropped img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    top: 10px;
    left: 10px;
    border: 5px solid var(--center-cropped-border-color);
    box-shadow: 3px 3px 10px var(--center-cropped-box-shadow);
    cursor: pointer;
    transition: .5s;
    user-select: none;
    filter: grayscale(100%);
    background-position: center center;
}

.center-cropped img:hover {
    filter: grayscale(0%);
    transform: scale(1.05);
    box-shadow: 3px 3px 20px var(--center-cropped-box-shadow);

}


.content {
    display: flex;
    flex-wrap: wrap;
    border: 1px black;
    box-shadow: 2px 3px 2px black;
}

.content-p {
    padding-right: 25%;
    text-align: justify;
}

.title-p {
    font-weight: bold;
    padding-bottom: 0.25rem;
}

.left-area {
    width: 30%;
    background-color: var(--left-area-color);
    /* background-color: rgb(0, 215, 215);*/
    text-align: center;
    padding-bottom: 20px;
    border-radius: 30px 0 0;
    color: var(--left-area-title-color);
}

.left-area .contact {
    text-align: left;
    margin-top: 25px;
    padding: 10px 30px;
}

.contact h4 {
    font-size: 30px;
    font-weight: normal;
    margin: 15px 0;
}

.contact h5 {
    font-size: 18px;
    margin: 10px 0;
}

.contact p {
    font-size: 17px;
    color: var(--left-area-contact-color);
    /*color: #FEFEE2;*/
}

.skills {
    margin-top: 10px;
}

.skills h1 {
    font-size: 30px;
    font-weight: normal;
}

.bars {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px 10px;
    padding: 0 20px;
}

.bars .bar p {
    font-size: 15px;
    font-weight: bold;
}

/* Skills Bars */

.bar span {
    display: block;
    width: 100%;
    height: 10px;
    background-color: var(--bar-color-end);
    margin-top: 10px;
    border-radius: 10px;
    position: relative;
}
.bar span::before {
    position: absolute;
    content: "";
    width: 65%;
    height: 65%;
    background-color: var(--bar-color-front);
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    border-radius: 10px;
}

.title-p {
    color: white;
}

.right-area .title-p {
    color: black;
    padding-top: 0.95%;
}
.bar-html p {
    color: white;
}
.bar-html span {
    display: block;
    width: 100%;
    height: 10px;
    background-color: var(--bar-color-end);
    margin-top: 10px;
    border-radius: 10px;
    position: relative;
}
.bar-html span::before {
    position: absolute;
    content: "";
    width: 65%;
    height: 65%;
    background-color: var(--bar-color-front);
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    border-radius: 10px;
}

.bar-photoshop span {
    display: block;
    width: 100%;
    height: 10px;
    background-color: var(--bar-color-end);
    margin-top: 10px;
    border-radius: 10px;
    position: relative;
}

.bar-photoshop p {
    /*color: #BDBDBD;*/
    color: white;
}
.bar-photoshop span::before{
    position: absolute;
    content: "";
    width: 65%;
    height: 65%;
    background-color: var(--bar-color-front);
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    border-radius: 10px;
}
.bar-python p {
    color: white;
}
.bar-python span {
    display: block;
    width: 100%;
    height: 10px;
    background-color: var(--bar-color-end);
    margin-top: 10px;
    border-radius: 10px;
    position: relative;
}
.bar-python span::before{
    position: absolute;
    content: "";
    width: 55%;
    height: 65%;
    background-color: var(--bar-color-front);
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    border-radius: 10px;;
}
.bar-sql p {
    color: white;
}

.bar-sql span{
    display: block;
    width: 100%;
    height: 10px;
    background-color: var(--bar-color-end);
    margin-top: 10px;
    border-radius: 10px;
    position: relative;
}
.bar-sql span::before{
    position: absolute;
    content: "";
    width: 85%;
    height: 65%;
    background-color: var(--bar-color-front);
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    border-radius: 10px;
}

/* Langues */
.bar-anglais p {
    color: white;
}

.bar-anglais span{
    display: block;
    width: 100%;
    height: 10px;
    background-color: var(--bar-color-end);
    margin-top: 10px;
    border-radius: 10px;
    position: relative;
}
.bar-anglais span::before{
    position: absolute;
    content: "";
    width: 55%;
    height: 65%;
    background-color: var(--bar-color-front);
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    border-radius: 10px;
}

.bar-russe p {
    color: white;
}

.bar-russe span{
    display: block;
    width: 100%;
    height: 10px;
    background-color: var(--bar-color-end);
    margin-top: 10px;
    border-radius: 10px;
    position: relative;
}
.bar-russe span::before{
    position: absolute;
    content: "";
    width: 35%;
    height: 65%;
    background-color: var(--bar-color-front);
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    border-radius: 10px;
}
/* Follow */
.language h1 {
    margin-top: 40px;
    font-size: 30px;
    font-weight: normal;
}

.language h4 {
    font-size: 18px;
    margin: 10px 0;
}

.language p {
    font-size: 15px;
    rgb(0, 215, 215);
}
/* Centre d'intérêts */
.centre-interet h1 {
    margin-top: 40px;
    font-size: 30px;
    font-weight: normal;
    padding-bottom: 1rem;
}

.centre-interet h4 {
    font-size: 18px;
    margin: 10px 0;
}

.centre-interet p {
    font-size: 15px;
    color: white;
    padding-top: 0.15rem;
    padding-bottom: 0.15rem;
    text-align: left;
    margin-left: 1.25rem;
}

.interet-p {
    padding: 2rem;
    margin-bottom: 0.2rem;
    margin-left: 145rem;
}

.centre-interet ul {
    margin-left: 15rem;
    text-align: left;
}

.projet-perso h1 {
    padding-bottom: 1rem;
    margin-top: 40px;
    font-size: 30px;
    font-weight: normal;
}

.projet-perso p {
    font-size: 15px;
    color: white;
    padding-top: 0.15rem;
    padding-bottom: 0.15rem;
    text-align: left;
    margin-left: 1.25rem;
}

.projet-p {
    color: white;
    padding: 2rem;
    margin-bottom: 0.2rem;
    margin-left: 145rem;
}

.right-area {
    width: 70%;
    padding: 50px;
}

.right-area h1 {
    font-size: 35px;
    font-weight: normal;
}


.experiences-pro {
}

.experiences-pro ul {
    padding: 5px 5px 5px 15px;
}

.experiences-pro .content-div p{
    padding-bottom: 0.250rem;
}

.content-div ul {
    padding-left: 1rem;
}

.competences .content-div p {
    padding-bottom: 0.650rem;
}

.top-right{
    padding-left: 85%;
}

.download {
    size: auto;
    text-align: left;
    position: center;

}
.download-btn {
    background-color: var(--left-area-color);
    padding-inline: 12px;
    border-radius: 25px;
    color: var(--bar-color-front);
    font-style: normal;
    text-decoration: underline;
    font-size: medium;
    padding: 12px;
    margin: 15px;
}

.download-btn:hover {
    /*background-color: var(--bg-btn-color);*/
    background-color: var(--bar-color-front);
    border-radius: 30px;
    color: var(--left-area-color);
    font-style: revert;
    text-decoration: double;
}



/* MOBILE VERSION */
/*@media only screen and (max-width: 768px) {
    /* For mobile phone: */
/*[class*="col-"] {
    width: 100%;
}
body {
    font-size: 12px;
}
}*/


:root{

}

/* COLOR */
:root{

}

/* FONT BY EMPLACEMENTS */
:root{

}

@media only screen and (min-width: 420px) and (max-width: 1080px) {

}

@media only screen and (min-width: 420px) and (max-width: 1080px) {

}

@media only screen and (min-width: 880px) and (max-width: 980px) {

}

@media only screen and (min-width: 768px) and (max-width: 1080px){

}

/* Smartphone resolution */

@media only screen and (min-width: 396px) and (max-width: 396px){

}

@media only screen and (max-width: 587px) {

}

@media only screen and (max-width: 510px) {

}