/*
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
}

body {
    background-image: linear-gradient(315deg, #1b1e21, #1d2124) !important;
}


*/

#padding-bottom-top {
    padding: 20rem !important;
}


html {
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
}