/*@media only screen and (max-width: 768px) {
    /* For mobile phone: */
    /*[class*="col-"] {
        width: 100%;
    }
    body {
        font-size: 12px;
    }
}*/


:root{
    --header-height: 0rem;
    --font-semi: 600;
}

/* COLOR */
:root{
    --first-color: #4070F4;
    --secund-color: #0E2431;
    --third-color: #51bdef;
}

/* FONT BY EMPLACEMENTS */
:root{
    --body-font: 'Poppins', sans-serif;
    --big-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: 0.938rem;
}

@media only screen and (min-width: 420px) and (max-width: 1080px) {

}

@media only screen and (min-width: 420px) and (max-width: 1080px) {

    :root {
        --body-font: 'Poppins', sans-serif;
        --big-font-size: 1.85rem;
        --h2-font-size: 2rem;
        --normal-font-size: 1.738rem;
        --h1-font-size: 2.25rem;
        --h1-big-font-size: 2.5rem;
        --min-font-size: 1.555rem;
    }

    [class*=col-sm-6] {
        width: 100%;
    }
    .section-title::after {
        position: absolute;
        content: "";
        width: 64px;
        /*width: 128px;*/
        height: 0.18rem;
        left: 0;
        right: 0;
        margin: auto;
        top: 1.25em;
        background-color: var(--first-color);
    }
    .row {

    }
    section {
        padding-top: 1.5rem;
    }
    .section>p {
        padding-left: 20% !important;
        padding-right: 20% !important;
        font-size: var(--normal-font-size);
    }

    .text-center {
        font-size: var(--normal-font-size);
    }

    .section-title {
        font-size: var(--h1-big-font-size);
    }

    /* Card Classe */
    .card-title {
        font-size: var(--h2-font-size);
    }
    .card-text {
        font-size: var(--min-font-size);
    }
    p {
        font-size: var(--min-font-size);
    }
    .card {
        margin-top: 0.5rem;
    }

    /* RondedImage Classe */
    .roundedImage {
        overflow: hidden;
        -webkit-border-radius: 150px;
        -moz-border-radius: 150px;
        border-radius: 150px;
        width: 35px;
        height: 35px;
        transition: all .3s ease-in-out;
    }
    .roundedImage:hover {
        box-shadow: 10px 10px #828282;
        -webkit-transition: all .2s ease-in-out;
    }

    /* Title 1 */
    h1 {
        font-size: var(--h1-font-size);
    }

    /* a.text size */
    .btn {
        font-size: small;
        display: flex;
        margin-left: 25%;
        margin-right: 40%;
        margin-top: 1.75em;
    }
    a.btn.btn-primary {
        text-align: center;
    }

    /* ProgressBar */
    .progress {
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
        background-color: #fff;
        height: 1.55rem!important;
        font-size: 2rem;
    }

    /* NavBar */
    .navbar {

    }
}

@media only screen and (min-width: 880px) and (max-width: 980px) {
    /* Button */
    .btn {
        font-size: small;
        margin-left: 24%;
        margin-right: 24%;
        margin-top: 0.55rem;
        padding-left: 1em;
        padding-right: 2em;
    }
    a.btn.btn-primary {
        text-align: center;
    }

    .progress {
        margin-top: 1.25rem;
        margin-bottom: 0.75rem;
    }

    /* Card */
    .card {
        margin-top: 0.5rem;
    }

    /* Footer */
    .container-fluid {
        margin-bottom: 1rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1080px){
    p {
        font-size: 0.8rem;
    }

    .card-title {
        padding-left: 1.2rem;
    }

    .card-text {
        margin-left: 0;
        margin-right: 25%;
    }

    .btn {
        font-size: medium;
        margin-left: 5%;
        margin-right: 24%;
        margin-top: 0.55rem;
        padding-left: 1em;
        padding-right: 2em;
    }
    a.btn.btn-primary {
        text-align: center;
    }

    .progress {
        margin-top: 1.25rem;
        margin-bottom: 0.75rem;
        background-color: #fff;
        height: 1.55rem!important;
        font-size: 2rem;
    }

    .progress-bar {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: center;
        justify-content: center;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        background-color: #007bff;
        transition: width .6s ease
    }
    /* Card */
    .card {
        margin-top: 0.5rem;
    }

    /* Footer */
    .container-fluid {
        margin-bottom: 1rem;
    }
}

/* Smartphone resolution */

@media only screen and (min-width: 396px) and (max-width: 396px){
    p {
        font-size: small;
    }

    .card-title {
        padding-left: 1.2rem;
    }

    .card-text {
        margin-left: 0;
        margin-right: 25%;
    }

    .progress {
        margin-top: 1.25rem;
        margin-bottom: 0.75rem;
    }
    .progress {
        margin-top: 1.25rem;
        background-color: #fff;
        height: 1.55rem!important;
        font-size: 2rem;
    }

    .progress-bar {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: center;
        justify-content: center;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        background-color: #007bff;
        transition: width .6s ease
    }

    /* Card */
    .card {
        margin-top: 0.5rem;
    }

    /* Footer */
    .container-fluid {
        margin-bottom: 1rem;
    }

    .section-title::after {
        position: absolute;
        content: "";
        width: 64px;
        /*width: 128px;*/
        height: 0.18rem;
        left: 0;
        right: 0;
        margin: auto;
        top: 1.25em;
        background-color: var(--first-color);
    }
    .row {

    }
    section {
        padding-top: 1.5rem;
    }
    .section>p {
        padding-left: 20% !important;
        padding-right: 20% !important;
    }

    /* Card Classe */
    .card-title {
        font-size: larger;
    }
    .card-text {
        font-size: var(--font-semi);
    }
    p {
        font-size: var(--normal-font-size);
    }
    .card {
        margin-top: 0.5rem;
    }

    /* RondedImage Classe */
    .roundedImage {
        overflow: hidden;
        -webkit-border-radius: 150px;
        -moz-border-radius: 150px;
        border-radius: 150px;
        width: 35px;
        height: 35px;
        transition: all .3s ease-in-out;
    }
    .roundedImage:hover {
        box-shadow: 10px 10px #828282;
        -webkit-transition: all .2s ease-in-out;
    }

    /* Title 1 */
    h1 {
        font-size: var(--h1-font-size);
    }

    /* a.text size */
    .btn {
        font-size: small;
        display: flex;
        margin-left: 25%;
        margin-right: 40%;
        margin-top: 1.75em;
    }
    a.btn.btn-primary {
        text-align: center;
    }

    /* ProgressBar */
    .progress {
        margin-top: 0.75em;
        margin-bottom: 0.75rem;

    }

    /* NavBar */
    .navbar {
        padding: .5rem;
    }
    .nav, .navbar-brand {
        display: -moz-inline-block;
    }
    .nav-item:hover {
        overflow: hidden;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        width: -moz-max-content;
        transition: all .3s ease-in-out;
        background-color: rgba(0, 123, 255, 0.61);
        color: #0E2431;
        border-radius: 15px 0 0 200px;
    }
}

@media only screen and (max-width: 587px) {
    .navbar {
        display: compact!important;
    }
    a {
        color: var(--red) !important;
    }
}

@media only screen and (max-width: 510px) {

}


html {
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
}

.col-auto, .card ,.col-xl-auto {
    transition-delay: 0.5s;
    transition-property: bottom, opacity;
    transition-duration: 2s;
}

.col > .row  > .text-primary {
    transition-delay: 0.5s;
    transition-property: right, opacity;
    transition-duration: 2s;
    opacity: 0;
}
